@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
img
{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,a,ul
{
    padding: 0px;
    margin: 0px;
}
:root
{
    --back_ground: #26335D;
    --light_color-text: #FFFF;
    --primary-color: #FF6551;
    --text-color:#737373;
    --text_lite: #BDBDBD;
    --faded_text-lite: #FAFAFA;
    --faded_primary-colour: #F9FDFF;
    --faded_secondary-colour:#DDEEFE;
    --faded_tertiary-colour:#B6D7FF;
    --primary_dark-colour:#E74040;
    --primary_lite-colour:#E77C40;
    --star-color:#FFCE31;
    --blue :#2435A1;
    --sky-blue:#8EC2F2;
    --sucess-colour:#2DC071;
    --display_time-a:all ease-in-out 0.3s;;
    
}
p
{
    margin: 0px;
    color: var(--text-color);
    font-size: 14px;
    

}
.brand-head
{
    max-width:100%;
    padding: 16px 0px;
    background-color: var(--back_ground);
    position: sticky;
    top: 0px;
    z-index: 1;
}
    .container
    {
        max-width: 1050px;
        margin: 0px auto;
        padding: 0PX 15PX;
    }
.header-content
{
    display: flex;
    align-items: center;
    gap: 70px;
}
.header-content .menu_bar
{
    display: none;
    position: relative;
}
.menu_bar
{
    display: flex;
    gap:10px
}
.header-content .menu_bar
{
    font-size: 24px;
    color: var(--light_color-text);
}
.product_menu
{
    display: flex;
    gap: 5px;
}
.logo
{
    display: flex;
    color:var(--light_color-text);
    font-size: 24px;
    align-items: center;
    gap: 10px;
}
.logo i
{
    display: none;
}

#checking
{
    position: absolute;
    margin: 0PX;
    visibility: hidden;
}
#sub_menu-check,#product_check
{
    opacity: 0;
    position: absolute;
}
.navigation-bar nav ul li a
{
    text-decoration: none;
    color:var(--light_color-text);
    font-weight: 700;
    font-size: 14px;
    padding: 20px 0px;
    display: inline-block;
    gap: 5px;
    display: flex ;
    align-items: center;
}
.navigation-bar nav ul li a .fa-caret-right
{
    display: unset;
}
.navigation-bar nav ul li a .fa-sort-down
{
    display: unset;
}
.navigation-bar nav ul li a i
{
    display: none;
}
.navigation-bar nav ul li a:hover
{
    color: var(--primary-color);
}
.navigation-bar nav ul
{
    display: flex;
    gap: 22px;
    list-style: none;
    position: relative;
}
.navigation-bar nav ul .butn
{
    display: none;
}
.navigation-bar nav ul .filled-butn
{
    display: none;
}
.navigation-bar
{
    flex: 1;
}
nav ul li .drop_down-menu
{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
nav ul li .drop_down-menu
{
    position: absolute;
}
.drop_down-menu
{
    visibility: hidden;
    margin-top: -20px;
}
nav ul li .drop_down-menu li a
{
    min-width: 170px;
    padding: 20px 15px ;
    background-color: var(--primary-color);
}
nav ul li .drop_down-menu li a:hover
{
    color: var(--light_color-text);
    background-color: var(--primary_lite-colour);
    transition: var(--display_time-a);
}
.sub-menu .inside-menu
{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 0px;
    left: 80%;
}
.butn
{
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    color: var(--light_color-text);
    border: transparent;
    border-radius: 5px;
}
.filled-butn
{
    background-color:var(--primary-color);
}
.brand-head .filled-butn::after
{
    content: "\f061";
    font-family: "Font Awesome 6 Free";

}
.dark-background
{
    max-width: 100%;
    background-color:var(--back_ground);
}
.large-container
{
    max-width: 1322px;
    margin: 0 auto;
}
.hero
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero p
{
    font-size: 20px;
    color: var(--light_color-text);
    max-width: 406px;
}
.hero-content
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    padding-left: 60px;
}
.hero-content h5
{
    color: var(--primary-color);
    font-size: 16px;
}
.hero-content h1
{
    font-size: 58px;
    color: var(--light_color-text);
}
.bordered-butn
{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.hero-content .butn
{
    padding: 15px 40px;
}
.hero-img
{
    max-width: 50%;
}
.academic-details
{
    padding: 112px 0px;
}
.top-header
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 90px;
}
.top-header h6
{
    font-size: 14px;
    color: var(--primary-color);
}
.top-header h2
{
    font-size: 40px;
}
.top-header p
{
    max-width: 463px;
}
.cards
{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
    flex: 1;
    position: relative;
}
.card
{
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.card .card_icon
{
    height: 76px;
    width: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h5
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}
.card h5::after
{
    content:'';
    background-color: var(--primary-color);
    border: none;
    max-width: 50px;
    height: 2px;
}
.card:hover h5::after
{
 background-color: var(--light_color-text);
}
.card:nth-child(1) .card_icon
{
    background-color: var(--faded_primary-colour);
}
.card:nth-child(2) .card_icon
{
    background-color:var(--faded_secondary-colour) ;
}
.card:nth-child(3) .card_icon
{
    background-color:var(--light_color-text) ;
}
.card:nth-child(4) .card_icon
{
    background-color:var(--faded_tertiary-colour);
}
.card:nth-child(even)
{
    display: grid;
    
}
.card:hover
{
    background-color:var(--primary-color) ;
}
.card:hover .card_icon
{
    background-color: var(--light_color-text);
}
.card:hover p
{
color: var(--light_color-text);
}
.card:hover h5
{
    color: var(--light_color-text);
}
.primary-card:nth-child(even)
{
    margin-top: 48px;
}
.thumbnail
{
    position: relative;
}
.thumbnail img
{
    display: block;
    width: 100%;
}
.thumbnail label
{
    background-color:var(--primary_dark-colour);
    color:var(--light_color-text);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 23px;
    left: 25px;
    padding: 0px 10px;
    max-width:42px;
}
.thumbnail-icons
{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 24px;
    gap:10px;
    width: 100%;
}
.round-butn
{
    width: 35px;
    padding: 10px;
    background-color:var(--light_color-text);
    border-radius: 50%;
    border: none;
}
.product-section
{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
}
.img-cont
{
    max-width: 100%;
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.img-disc-tittle
{
    display: flex;
    justify-content: space-between;
}
.img-disc-tittle h6
{
    font-size: 14px;
    color:var(--primary-color) ;
    max-width: 134px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
}
.star-rate i
{
    color: var(--star-color);
}
.star-rate
{
    background-color: var(--back_ground);
    color:var(--light_color-text);
    float: right;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;

}
.img-disc-head
{
    font-size: 16PX;
    max-width:100%;
}
.img-cont p
{
    max-width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.download
{
    color: var(--text-color);
    font-size: 14px;
    display: flex;
    gap: 10px;
}
.rate
{
    display: flex;
    gap: 5px;
}
.rate h6
{
    color:var(--text_lite);
    font-size: 16px;
}
.rate h5
{
    font-size: 16px;
    color: var(--blue);
}
.curved-butn
{
    padding: 10px 20px;
    color: var(--primary-color);
    border-color: var(--primary-color);
    border:1px solid;
    border-radius: 37px;
    max-width: 140PX;
    background-color:transparent;
}
.academic-features
{
    padding: 160px 0px;
}
.banner-content h2::before
{
    content:'';
    display: flex;
    background-color: var(--primary_dark-colour);
    border: none;
    width: 94px;
    height: 7px;
}
.banner
{
    display: flex;
    justify-content: space-between;
}
.banner-content
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    flex: 1;
    padding-left: 150px;
}
.banner-content h2
{
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 40px;
    color: var(--light_color-text) ;
}
.banner-content p
{
    max-width: 351px;
    color: var(--light_color-text) ;
}
.directing-link
{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.directing-link::after
{
    content: "\f054";
    font-family: "Font Awesome 6 Free";
}
.price-section
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 30px;
}
.price-card
{
    max-width: 100%;
    padding: 50px 40px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.price-block
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.new-icon
{
    background-color:var(--primary_lite-colour);
    border-radius: 52px;
    position: absolute;
    right: -24px;
    top: -30px;

}
.price-card .new-icon h3
{
    font-size: 22px;
    color: var(--light_color-text);
    padding: 30px 16px;

}
.price-card_icon
{
    width:96px ;
    height: 96px; ;
    background-color:var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-card_icon i
{
    color: var(--light_color-text);
    font-size:  48px; ;
}
.price-card h1
{
    font-size: 24px;
}
.price-card h2
{
    max-width: 203px;
    font-size: 14px;
    color: var(--text-color);
}
.price h3
{
    color: var(--primary_lite-colour);
    font-size: 40px;
}
.price h4
{
    color: var(--sky-blue);
    font-size: 14px;
}
.price-card .filled-butn
{
    width: 100%;
}
.feature-block
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.feature
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.feature i
{
    width: 32px;
    height: 32px;
    background-color:var(--sucess-colour);
    color: var(--light_color-text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature h6
{
    line-height: 24px;
    font-size: 14px;
    flex: 1;
}
.colorless-feature i
{
    background-color:var(--text_lite);
}

.review-section
{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;

}
.blocks p
{
    max-width:  320px ;
}
.blocks
{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    flex: 1;
}
.blocks-img
{
    width: 128px;
    height: 128px;
}
.blocks-img img
{
    border-radius: 50%;
}
.section-content
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.star-section
{
    color: var(--star-color);
}
.name-designation
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.name-designation h6
{
    color: var(--text-color);
}

.subcribe-section .top-header
{
    align-items: center;
}
.subcribe-section .top-header h3
{
    font-size: 40px;
    color: var(--light_color-text);
}
.subcribe-section .top-header p
{
    color: var(--light_color-text);
    text-align: center;
}

.input-scetion .mail-input input
{
    padding: 15px 0px 15px 20px;
    outline: none;
    width: 100%;
}
.mail-input
{
    display: flex;
    justify-content: center;
    width: 688px;
}
.input-scetion
{
    display: flex ;
    justify-content: center;
}
.input-scetion .filled-butn
{
    border-radius: 0px 5px 5px 0px ;
    margin-left: -8px;
    border: 1px solid var(--primary-color);
}
.footer-card
{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px
}
.footer-section
{
    padding: 50px 0px;
}
.footer-contents
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    gap: 30px;
}
.footer-card ul li a
{
    text-decoration: none;
    color: var(--text-color);
}
.footer-card ul
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-card ul li
{
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.info-icon
{
    width: 24px;
    color: var(--primary-color);
}
.contact-details i
{
    font-size: 24px;
}
.contact-details ul li a:nth-child(1)
{
color: var(--primary-color);
}
.contact-details ul li a
{
    display: flex;
    gap:10px
}
.contact-details ul li a i
{
    font-size: 24px;
    display: flex;
    align-items: center;
}

.footer-end-section
{
    padding: 25px 0px;
    background-color:var(--faded_text-lite);
}
.footer-end-section .Container h6
{
    color: var(--text-color);
    font-size: 14px;
}
.social-media-icon i
{
    color: var(--primary-color) ;
    font-size: 24px;
}
.footer-end-section .container
{
    display: flex;
    flex-direction: column;
    gap: 0px
}
.water-mark
{
    display: flex;
    
}
.watermark-cont h6
{
    /* line-height: 24px; */
    font-size: 15px;
    max-width: 100%;
}
.social-media-icon
{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.watermark-cont
{
    color: var(--text-color);
    display: flex;
    flex: 1;

}
.contact-link
{
    color: var(--text-color);
}
 /* media */

@media screen  and (max-width:1026px)
{
    
    .header-content
    {
        gap: 40px;
    }
    .hero-content h1
    {
        text-align: center;
        font-size: 45px;
    }
    .hero-content p
    {
        text-align: center;
    }
    .brand-head .container
    {
        padding: 0px 50px;
    }
    .hero-content h1
    {
        font-size: 45px;
    }
    .hero
    {
        padding: 50px 0px;
    }
    .product-section
    {
        grid-template-columns: repeat(2,1fr);
    }
    .product-section
    {
        justify-items: center;
    }
    .product-card
    {
        display: flex;
    }
    .thumbnail img
    {
        height: 100%;
    }
    .banner-content
    {
        padding-left: 30px;
    }
    .banner-img
    {
        max-width: 50%;
    }
    .watermark-cont h6
    {
        font-size: 14px;
    }
}
@media screen  and (min-width:867px)
{
    .sub-menu:hover .inside-menu
    {
        
        margin: 0PX;
        visibility: visible;
        transition: var(--display_time-a);
        top: -58px;
        left: 100%;
        position: relative;
    }
    .menu:hover .drop_down-menu
    {
        visibility: visible;
        margin-top: 0px;
        transition: var(--display_time-a);
    }
    
}
@media screen  and (max-width:866px)
{
    #product_check:checked ~ .drop_down-menu
    {
        visibility: visible;
        margin: 15px 0px 0px 20px;
        gap: 20px;
        display: flex;
    }
    .sub-menu .inside-menu
    {
        padding-bottom: 0px;
        position: unset;
        
    }
    nav
    {
        padding-bottom: 80px;
    }
    #sub_menu-check:checked ~ .inside-menu
    {
        gap: 20px;
        margin: 30px 0px 0px 20px;
        visibility:visible;
        transition: var(--display_time-a);
        position: static;
        
    }
    .menu .drop_down-menu
    {
        display: none;
        margin-top: 20px;
    }
    nav ul li .drop_down-menu li a
    {
        padding: 0px 0px;
        background-color: transparent;
    }
    
    nav ul li .drop_down-menu
    {
        position:unset;
    }
    nav ul li .drop_down-menu li a:hover
    {
        background-color: transparent;
        color: var(--primary-color);
    }
    .navigation-bar nav ul li a i
    {
        display: unset;
    }
    .header-content
    {
        gap: 10px;
    }
    .header-content .menu_bar
    {
        display: flex;
    }
    .card
    {
        padding: 30px 30px;
    }
    .primary-card:nth-child(even)
    {
        margin-top: 0px;
    }
    .navigation-bar
    {
        left: -100%;
        top: 59px;
        position: fixed;
        width: 320px;
        height: 100vh;
        background-color: var(--back_ground);
        box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
        z-index: 1;
        padding: 10px 0px 0px 20px;
        bottom: -60px;
        transition: var(--display_time-a);
        overflow-y: scroll;
    }
    #checking:checked ~ .navigation-bar
    {
        left: 0%;
    }
    #checking:checked ~ .menu_bar i
    {
        opacity: 0;
    }
    #checking:checked ~ .menu_bar::before
    {
        content:"\f00d" ;
        font-family: "Font Awesome 6 Free";
        position: absolute;
        font-size: 24px;
    }
    .navigation-bar ul
    {
        flex-direction: column;
    }
    .navigation-bar nav ul li a
    {
        padding: 0px 0px;

    }
    .logo
    {
        flex: 1;
    }
    .logo i
    {
        display: unset;
    }
    .brand-head .container
    {
        padding: 0px 20px;
    }
    .hero-img
    {
        display: none;
    }
    .hero-content p
    {
        font-size: 17px;
        max-width: 100%;
    }
    .hero-content h1
    {
        text-align: center;
        font-size: 42px;
    }
    .hero-content
    {
        align-items: center;
        padding: 0px;
    }
    .hero-content .dual-button
    {
        justify-content: center;

    }
    .hero-content .butn
    {
        padding: 13px 30px;
    }
    .cards
    {
        grid-template-columns: repeat(2,1fr);
    }
    .academic-features
    {
        padding: 70px 0px;
    }
    .academic-details
    {
        padding: 70px 0px;
    }
    .price-section
    {
        gap: 40px;
    }
    .product-card
    {
        flex-direction: column;
    }
    .new-icon
    {
        right: -5px;
        top: -20px;
    }
    .price-block
    {
        align-items: center;
        text-align: center;
    }
    .price-card
    {
        padding: 30px 30px;
    }
    .price-card .new-icon h3
    {
        padding: 22px 7px;
    }
    .footer-contents
    {
        grid-template-columns: repeat(3,1fr);
    }
    .price-section
    {
        grid-template-columns: repeat(1,1fr);
    }
    .price-card
    {
        flex-direction: row;
    }
    .price-block
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .feature-block
    {
        justify-content: center;
        /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.07); */
        padding-left: 10px;

    }
}
@media screen  and (max-width:575px)
{
    .product_menu
    {
        align-items: baseline;
    }
    .logo h3
    {
        font-size: 22px;
    }
    .brand-head .container
    {
        padding-right: 20px;
    }
    .navigation-bar nav ul .butn
    {
    display: unset;
    border: 1px solid var(--light_color-text);
    max-width: 50%;
    padding: 7px 0px 7px 0px;
    }
    .navigation-bar nav ul .filled-butn
    {
        display: none;
    }
    .hero-content
    {
        gap: 20px;
    }
    .hero-content p
    {
        font-size: 15px;
    }
    .hero-content h1
    {
        font-size: 30px;
    }
    .banner-content h2::before
    {
        align-self: center;
    }
    .brand-head .butn
    {
        display: none;
    }
    .brand-head .filled-butn
    {
        display: flex;
        padding: 8px 8px;
    }
    .banner-content .butn
    {
        padding: 10px 18px;
    }
    .top-header h2
    {
        font-size: 26px;
    }
    .top-header p
    {
        font-size: 12px;
    }
    .cards
    {
        grid-template-columns: repeat(1,auto);
    }
    .product-section
    {
        grid-template-columns: repeat(1,auto);
    }
    .product-card
    {
        box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    }
    .banner
    {
        flex-direction: column;
        gap: 50px;
    }
    .banner-content p
    {
        max-width: 100%;
    }
    .thumbnail img
    {
        height: 250px;
        object-fit: cover;
    }
    .banner-img
    {
        max-width: 100%;
    }
    .banner-content h2
    {
        font-size: 26px;
        text-align: center;
    }
    .banner-content
    {
        align-items: center;
    }
    .price-card
    {
        flex-direction: column;
        padding: 20px 20px;
    }
    .review-section
    {
        flex-direction: column;
    }
    .new-icon
    {
        display:none;
    }
    .subcribe-section .top-header h3
    {
        font-size: 32px;
        text-align: center;
    }
    .subcribe-section .top-header
    {
        margin-bottom: 50px;
    }
    .input-scetion .mail-input input 
    {
        padding: 0px 0px 0px 20px;
    }
    .footer-section .container
    {
        padding: 20px;
    }
    .footer-contents
    {
        grid-template-columns: repeat(1,auto);
    }
    .input-scetion .filled-butn
    {
        padding: 8px 8px;
        font-size: 12px;
    }
    .water-mark
    {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .watermark-cont h6
    {
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
    }
    .mail-input
    {
        width: 440px;
    }
}
@media screen  and (max-width:372px)
{
    .brand-head .filled-butn
    {
        display: none;
    }
    .navigation-bar nav ul .filled-butn
    {
        display: unset;
        border: var(--primary-color);
    }
    .hero-content h1
    {
        font-size: 22px;
    }
    .hero-content p
    {
        font-size: 12px;
    }
    .hero-content .butn
    {
        font-size: 12px;
        padding: 10px 10px;
    }
    .top-header h2
    {
        font-size: 22px;
    }
    .top-header p
    {
        font-size: 10px;
    }
    .banner-content p
    {
        text-align: center;
    }
    .banner-content
    {
        padding-left: 0px;
    }
    .card 
    {
        padding: 15px 15px;
    }
    .thumbnail img
    {
        height: 100%;
    }
    .watermark-cont h6
    {
        font-size: 10px;
    }
}