*{
    margin: 0;
    padding: 0;
}

.subscribe
{
    margin-left: 5px;
    background-color: rgb(194, 12, 12);
    color:white;
    border: none;
    width: 36px;
    height: 20px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 8px;
    transition: opacity 0.15s;  
}
.subscribe:hover
{
    opacity: 0.6;
}

.join
{
    background-color: white;
    color: rgb(31, 99, 246);
    border-color: rgb(31, 99, 246);
    border-style:solid;
    width: 36px;
    height: 20px;
    border-radius: 1px;
    border-width: 1px;
    cursor:pointer;
}
.join:hover
{
    background-color: rgb(31, 99, 246);
    color: white;
}
.twitter
{
    width: 50px;
    padding: 7PX;
    font-size: 8px;
color:white;
background-color: rgb(55, 138, 240);
border:none ;
border-radius:12px;
}
.twitter:hover
{
    color: black;
}