*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    background-color: lightblue;
}
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(16, 16, 221);
}
.nav-icons i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-icons i:hover{
    color: white;
}
/* Logo */
.logo{
    position: relative;
    background-image:url(img/b3.jpg);
    background-position: center;
    height: 700px;
    background-size: cover;
}
.heading{
    text-align: center;
    margin-left: 10rem;
    position: absolute;
    margin-top: 45px;
    
}
.heading1{
    font-size: 24px;
}

/* About */
.about{
    margin-top: 30px;
}
.aboutcontent{
    margin-top: 30px;
}

/* card2 */
#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover{
    transform: translateY(-10px);
}
.card-titel{
    color: lightcoral;
}
#btn2{
    padding: 1px;
    text-decoration: none;
    background: lightcoral;
    color: white;
    border-radius: 5px;
}
#btn2:hover{
    background-color: rgb(219, 81, 81);
    color: black;
}

/* card2 */


/* Product Start */
.main-txt{
    margin-top: 50px;
}
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
    margin-bottom: 18px;
}
.packages .card .card-body h6{
    margin-bottom: 18px;
    font-size: 18px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: rgba(10, 162, 212, 0.626);
    color: white;
    border-radius: 5px;
}
.packages .card .card-body a:hover{
    background-color: rgb(62, 182, 182);
    color: black;
}
/* Product End End */

.service::after {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 45px);
    top: 135px;
    left: 0;
    background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url(../img/service.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
}



/* footer */
#footer{
    width: 100%;
    background-color:rgba(9, 99, 129, 0.87); ;
    margin-top: 90px;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
.icons i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.icons i:hover{
    background: rgba(10, 162, 212, 0.626);
}
.copyright{
    color: white;
    margin-top: 10px;
}
.credite{
    color: white;
}
/* footer */
